:root {
    --vp-c-brand-1: #c83270;
    --vp-c-brand-2: #de4587;
    --vp-c-brand-3: #b12960;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        #de4587 30%,
        #c83270
    );
}

.vp-footer {
    border-top: 1px solid var(--vp-c-divider);
    padding: 24px;
    text-align: center;
}

.vp-footer .message {
    line-height: 32px;
    color: var(--vp-c-text-1) !important;
}

.footer-link {
    display: inline-flex !important;
    align-items: center;
    gap: 6px;
    color: var(--vp-c-brand-1) !important;
    text-decoration: none;
    font-weight: 600;
    vertical-align: middle;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.github-svg {
    fill: currentColor;
}
